In [ ]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_csv("E:\\Acods pandas\\Machine learning\\ML Projects Set-2 Data Sets\\Sentiment Analysis Data Set\\train_data.csv")
df

                                                  sentence  sentiment
0        awww that s a bummer you shoulda got david car...          0
1        is upset that he can t update his facebook by ...          0
2        i dived many times for the ball managed to sav...          0
3           my whole body feels itchy and like its on fire          0
4        no it s not behaving at all i m mad why am i h...          0
...                                                    ...        ...
1523970  just woke up having no school is the best feel...          1
1523971  thewdb com very cool to hear old walt interviews           1
1523972  are you ready for your mojo makeover ask me fo...          1
1523973  happy th birthday to my boo of alll time tupac...          1
1523974                               happy charitytuesday          1

[1523975 rows x 2 columns]

In [10]:
df['sentiment'].value_counts()

sentiment
0    767059
1    756916
Name: count, dtype: int64

In [11]:
df=pd.read_csv("E:\\Acods pandas\\Machine learning\\ML Projects Set-2 Data Sets\\Sentiment Analysis Data Set\\test_data.csv")
df

                                              sentence  sentiment
0    i loooooooovvvvvveee my kindle not that the dx...          1
1    reading my kindle love it lee childs is good read          1
2    ok first assesment of the kindle it fucking rocks          1
3    you ll love your kindle i ve had mine for a fe...          1
4    fair enough but i have the kindle and i think ...          1
..                                                 ...        ...
354  after using latex a lot any other typeset math...          1
355  on that note i hate word i hate pages i hate l...          0
356  ahhh back in a real text editing environment i...          1
357  trouble in iran i see hmm iran iran so far awa...          0
358  reading the tweets coming out of iran the whol...          0

[359 rows x 2 columns]

In [12]:
df['sentiment'].value_counts()

sentiment
1    182
0    177
Name: count, dtype: int64

In [33]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(df['sentence'].values,df['sentiment'].values, test_size=0.2,random_state=0)

In [34]:
print('sentiment_text:',x_train[0])
print('sentiment:',y_train[0])

sentiment_text: pelosi should stay in china and never come back
sentiment: 0

In [37]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [38]:
max_vocab=2000000
tokenizer = Tokenizer(num_words=max_vocab)
tokenizer.fit_on_texts(x_train)

In [39]:
word_index = tokenizer.word_index
v=len(word_index)
print('the size of dataset is:',v)

the size of dataset is: 1337

In [40]:
train_sequences = tokenizer.texts_to_sequences(x_train)
test_sequences = tokenizer.texts_to_sequences(x_test)
print('train seq:',train_sequences[0])
print('test seq:',test_sequences[0])

train seq: [125, 209, 474, 14, 210, 7, 91, 148, 53]
test seq: [1153, 54, 2, 42, 92, 7]

In [46]:
pad_train=pad_sequences(train_sequences)
T=pad_train.shape[1]
print('length of traing set:',T)

length of traing set: 31

In [47]:
pad_test=pad_sequences(test_sequences,maxlen=T)
T=pad_test.shape[1]
print('length of traing set:',T)

length of traing set: 31

In [74]:
from tensorflow.keras.layers import Input, Dense, Embedding, LSTM, GlobalMaxPooling1D
from tensorflow.keras.models import Model

In [78]:
D=20
M=15

I =Input(shape = (T, ))
x=Embedding(v + 1, D)(I)
x=LSTM(64, return_sequences=True)(x)
x=GlobalMaxPooling1D()(x)
x=Dense(32, activation='relu')(x)
x=Dense(1, activation='sigmoid')(x)
model=Model(I,x)

In [79]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [81]:
r=model.fit(pad_train,y_train,validation_data=(pad_test,y_test),epochs=2)

Epoch 1/2
9/9 ━━━━━━━━━━━━━━━━━━━━ 7s 187ms/step - accuracy: 0.5146 - loss: 0.6930 - val_accuracy: 0.5000 - val_loss: 0.6942
Epoch 2/2
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step - accuracy: 0.5398 - loss: 0.6909 - val_accuracy: 0.5000 - val_loss: 0.6930